@import "variables";

#charts-menu-container{
    background: $bg-auxiliar-color;
    width: 100%;

    padding:12px;
    margin-top: 12px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap:12px;

    box-shadow: $box-shadow;

    .button-label{
        font: 600 13px Sans-serif;
        color: $auxiliar-text-color;
        margin: 8px;
    }

    .btn-group>.btn-check:checked+.btn{
        z-index: 0;
        background-color: $button-blue-clicked-color;
    }

    .btn{
        background: $button-blue-default-color;
        font: 500 13px sans-serif;
        color: $bg-auxiliar-color;
        padding: 8px 16px 8px 16px;

        &:hover, &:focus{
            background-color: $button-blue-clicked-color;
        }
    }

}




//Remove  o Espaçamento extra nas telas menores
@media screen and (max-width: 768px) {
    #charts-menu-container{
        margin-top: 0;
    }
}

//Deixa cada botão ocupando uma coluna inteira em telas menores
@media screen and (max-width: 544px) {
    #charts-menu-container{
        flex-direction: column;

        .menu-button-section{
            width: 100%;

            button, .clickable-toggle-button {
                width: 100%;
            }
        }
    }
 }

//Deixa os botões ocupando a sessão toda do menu dos gráficos em telas maiores
@media screen and (min-width: 545px) {
    #charts-menu-container{
        .menu-button-section{
            flex:1;
            width: 100%;

            button, .clickable-toggle-button {
                width: 100%;
                white-space: nowrap
            }
        }
    }

}
