$side-menu-color:#2a3042;
$bg-auxiliar-color: #FFF;
$bg-primary-color: #f3f3f8;

.justify-content-center{
    display:flex;
    justify-content: center;
}

#dashboard-main-container{
    background: $bg-primary-color;

    .products-charts{

        .col{
            margin-bottom:12px;
            padding-left: 0;

        }
    }

}
