$side-menu-color:#2a3042;
$bg-primary-color: #FFF;
$bg-auxiliar-color: #f3f3f8;

.justify-content-center{
    display:flex;
    justify-content: center;
}

#dashboard-main-container{
    background: $bg-primary-color;;
}
