@import "variables";

.justify-content-center{
    display:flex;
    justify-content: center;
}

#dashboard-main-container{
    background: $bg-primary-color;
    max-width: 1900px;
    width: 100%;

    .product-charts{

        .col{
            padding-left:0;
            margin-bottom:12px;
        }
    }

}

@media screen and  (max-width: 768px) {
    #dashboard-main-container{
        .product-charts{
            .col{
                padding-left: calc(var(--bs-gutter-x) * .5);
            }
        }
    }
 }
