@import "variables";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Roboto, Oxygen, sans-serif;
}

body{
    background-color: $bg-primary-color !important;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
  }

/* style scrollbar*/
 /* Firefox */
 * {
    scrollbar-width: auto;
    scrollbar-color:  $scroll-primary-color $scroll-bg-color;
    }

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: $scroll-bg-color;
}

*::-webkit-scrollbar-thumb {
    background-color: #71748a;
    border-radius: 16px;
    border: 0px solid $scroll-bg-color;
}

.btn-shadow{
    box-shadow: $box-shadow-button;
}

.react-datepicker-popper{
    z-index:999 !important;
}

//Full Screen style para mostar a barra de rolagem
body:fullscreen {
    overflow: auto !important;
  }
  body:-ms-fullscreen {
    overflow: auto !important;
  }
  body:-webkit-full-screen {
    overflow: auto !important;
  }
  body:-moz-full-screen {
    overflow: auto !important;
  }
