@import "variables";

#login-main-container{

    #login-aside-section{
        background: $login-primary-color;
        color: #FFF;

        padding: 120px 80px;

        font-family: 'Poppins', sans-serif;
        font-weight: 700;

        .login-aside-content{
            flex-direction: column;
            justify-content: center;
        }

        img{
            max-width: 340px;
            width: 100%;
            display:block;
         }

        strong{
            font-size: calc(1rem + 1.5vw);
            line-height: 1;

        }

        p{
            font-size: calc(0.7rem + 0.4vw);
            margin-top: 0.4rem;
            line-height: 22px;

            color: $login-bg-color;
        }
    }

    #login-auth-section{
        background: $login-bg-color;

        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 0 32px;

        h1{
            font-size: calc(1.375rem + 1.5vw);
            margin-bottom: 0.5rem;
            font-weight: 500;
            line-height: 1.2;
        }

        .separator{
            max-width: 300px;
            width: 100%;
            font-size:14px;
            color: $login-auxiliar-color;

            margin: 16px 0;
            display: flex;
            align-items:center ;

            &::before{
                content: "";
                flex:1;

                height: 1px;
                background: $login-auxiliar-color;
                margin-right: 16px;
            }

            &::after{
                content: "";
                flex:1;

                height: 1px;
                background: $login-auxiliar-color;
                margin-left: 16px;
            }
        }

        .password-area{
            display: flex;
            gap:100px;
            position: relative;
        }

        form{
            max-width: 320px;
            width:100%;

            label{
                display: block;
                padding: 8px 0 0 8px;
            }
            input{
                border-radius: 8px;

                max-width: 320px;
                width: 100%;

                height:36px;

                font: 500 13px Sans-serif;
                color: $auxiliar-text-color;
                padding: 0 28px 0 16px;
                background: #FFF;
                border: 1px solid $login-auxiliar-color;

            }
        }
        .btn-hide-password{
            font-size: 20px;

            outline: none;
            border: none;
            background: transparent;
            cursor: pointer;

            position:absolute;
            right: 6px;
            top:5px;
            &:hover, &:focus{
                color:$login-primary-color;
            }

        }
        .login-submit{
            margin-top: 32px;

            border-radius: 8px;

            max-width: 320px;
            width: 100%;
            height: 36px;
            font-weight: 500;
            background: $login-primary-color;
            color: $login-bg-color;

            cursor: pointer;
            border: 0;

            transition: filter 0.2s;

            &:hover{
                filter:brightness(0.8);
            }
        }
    }
}

