@import "variables";
#marketplaces-modal-container{

    .modal-content{
        width: 400px;
        ul{
            margin-top:20px;
            padding-left: 20px;
            height:60vh;
            overflow-y: auto;
        }
    }

    .modal-header,
    .modal-footer{
        border:none;
    }


    .modal-title{
        font:600 14px sans-serif;
        color: $auxiliar-text-color;

    }

    .modal-search-icon{
        position:absolute;
        left: 24px;
        margin-top: 2px;
        z-index:2;
    }

    .modal-search{
        font: 500 13px Sans-serif;
        background-color: $bg-primary-color;
        color: $auxiliar-text-color;

        padding: 8px 8px 8px 28px;
        border-radius: 16px;

    }

    .marketplace-search-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:8px;
        padding:12px;

        input{
            width: 10px;
            margin-right:8px;
        }


        .marketplace-image{
            font: 500 10px Sans-serif;
            width: 50px;

            img{
                width:40px;
                height: 40px;
            }
        }

        .marketplace-name{
            font: 600 11px Sans-serif;
            color: $auxiliar-text-color;
        }
    }
}
