@import  "variables";

#result-search-container{
    width:300px;
    height:400px;
    background:$bg-auxiliar-color;

    top: 45px;
    position: absolute;
    z-index:999;

    border-radius: 4px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
