@import  "variables";

#search-top-menu-container{
    display:flex;
    align-items: center;
    position: relative;

    *::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .search-icon{
        position:absolute;
        left: -2px;
        top: -2px;
        z-index:2;
    }

    .search{
        font: 500 13px Sans-serif;
        background-color: $bg-primary-color;
        color: $auxiliar-text-color;

        padding: 6px 8px 6px 28px;
        border-radius: 16px;

        height:36px;
        max-width: 180px;
        width: 100%;
    }

    .btn-product-search{
        padding:0;
        margin:0;
        border:none;
    }

    .btn-product-search-container{
        padding: 0.2rem 0.6rem;
        display: flex;
        flex-direction: row;

        .btn-name-and-brand{
            display: flex;
            flex-direction: column;
            gap:4px;

            padding-left:10px;
            margin:0;

            .btn-product-name{
                font: 600 12px sans-serif;
                color: $side-menu-color;
            }

            .btn-product-brand{
                font: 500 12px sans-serif;
                color: $auxiliar-text-color;
            }
        }

        .btn-image-product{
            width:60px;
            font: 500 11px sans-serif;
            text-align: center;

            img{
                width:56px;
                height:56px;
            }
        }
    }
}

.result-search-container{
    width:300px;
    max-height:400px;
    overflow-y: auto;
    background:$bg-auxiliar-color;

    top: 44px;
    position: absolute;
    z-index:1;

    border-radius: 4px;

    box-shadow: $box-shadow-contrasting;

    .list-group{
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        border-radius: 0.25rem;
    }

    .list-group-item{
        position: relative;
        display: block;
        color: #212529;
        text-decoration: none;
        background-color: #fff;
        width: 100%;
        text-align: inherit;
    }
}


