@import  "variables";

.result-search-container{
    width:300px;
    max-height:400px;
    overflow-y: auto;
    background:$bg-auxiliar-color;

    top: 44px;
    position: absolute;
    z-index:1;

    border-radius: 4px;

    box-shadow: $box-shadow-contrasting
}
