$side-menu-color:#2a3042;
$auxiliar-text-color: #656c82;
$bg-primary-color: #FFF;
$bg-auxiliar-color: #f3f3f8;

#sidebar-main-container{
    display:flex;
    margin:0;
    padding: 0;

    .sidebar{
        background:$side-menu-color;
        color: $bg-primary-color;
        min-height: 100vh;
        max-height:100%;
        width: 180px;

        ul {
            padding-left: 10px;
            padding-top: 60px;

            .menu-label{
                font: 600 11px Sans-serif;
                text-transform: uppercase;
                color: $auxiliar-text-color;

                display: inline-block;
                margin-bottom: 14px;
            }



            li{
                padding: 4px;
            }

            li a{
                color: $bg-primary-color;
                text-decoration: none;
                display: inline-block;
                width: 100%;

                .page-icon{
                    font-size:20px;
                    margin-right:8px;
                }

                .page-title{
                    font: 500 13px Sans-serif;
                }

            }
        }
    }
    .children{
        width: 100%;
    }
}

