@import "variables";

#top-menu-main-container{
    padding-right:10px;
    padding-left:10px;

    box-shadow: $box-shadow;

    .top-menu-content{
        width: 100%;
        display:flex;
        justify-content: space-between;

    }

    .search-section{
        display:flex;
        gap:10px;

    }

    .btn{
        font-size: 16px;

        padding:0;
        margin: 0.375rem 0.75rem;
        outline: none;
        border: none;
        background: transparent;
        cursor: pointer;

    }

    a#basic-nav-dropdown{
        font: 500 14px Sans-serif !important;
        color: $auxiliar-text-color;

    }

    .logout-item{
        display:flex;
        align-items: center;
        justify-content:flex-start;

        &:focus{
            background: rgba(0, 0, 0, 0.2)
        }
        .logout-icon{
            font-size:14px;
            color:red;
            margin-right:4px;
            margin-top:-4px;
        }
        .logout-text{
            font: 600 13px Sans-serif;
            color: $auxiliar-text-color;
        }
    }

}

