$scroll-primary-color: #71748a;
$scroll-bg-color: #FFF;

$login-primary-color: #835AFD;
$login-auxiliar-color: #A8A8B3;
$login-bg-color:#F8F8F8;

$side-menu-color:#2a3042;
$bg-auxiliar-color: #FFF;
$bg-primary-color: #f3f3f8;

$auxiliar-text-color: #656c82;

$blue-bg-card-color: #2360c3;
$button-blue-default-color: #2b72e8;
$button-blue-clicked-color: #0e479f;

